﻿@{ 
    Layout = null;
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting World (From the view)
        <p>We are going to have an exciting party.<br />
        (To do: sell is better. Add pictures or someting.)
        </p>
        <a asp-action="RsvpForm">RSVP Now</a>
    </div>
</body> 
</html>