﻿@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!--Creating a Form View in the RsvpForm. -->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
    <form asp-action="RsvpForm" method="post">

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" placeholder="Enter your name" />
        </div>


        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" placeholder="Enter your Email" />
        </div>


        <div class="form-group">
            <label asp-for="Phone"></label>
            <input asp-for="Phone" class="form-control" placeholder="Enter your phone number">
        </div>


        <div class="form-group">
            <label>You will attend?</label>
            <select asp-for="willAttend" class="form-control">
                <option value="">Choose an option</option>
                <option value="true">Yes, I will be there</option>
                <option value="false">No, I can´t come</option>
            </select>
        </div>


        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</body>
</html>