﻿@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-witdh" />
    <title>ThankYou</title>
</head>
<body>
    <p>
        <h1>Thank You, @Model.Name!</h1>
        if (@Model.willAttend == true){
            @:It is great that you are coming. The drinks are already in the fridge.
        }else{
            @:Sorry to hear that you cant make it, but thanks for letting us know.
        }

    </p>

    <p>Click <a asp-action="ListResponse">Here</a>Too sea who is coming </p>

</body>
</html>


~<!--<div class="alert alert-success" role="alert" >
    <h4 class="alert-heading">Thank you</h4>
    <p>Thank you for your answer.</p>
    <a asp-action="Index" >Home</a>
</div>-->

